body {
    background: #fff;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.map-wrapper {
    border: 4px solid #000;
    overflow: hidden;
}

.leaderboard {
    border: 4px solid #000;
    margin-left: 4px;
}
